# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Declare files that will always have LF line endings on checkout.
zsh/* text eol=lf
wsl/* text eol=lf
vim/* text eol=lf